.buttons {
  > * {
    margin-right: 1rem;
  }
}

.decorations {
  position: static;
  left: 0;
  top: 0;
  height: 0;
  .decoration1 {
    position: relative;
    width: 125px;
    height: 125px;
    left: -50px;
    top: -50px;
    border-radius: 125px;

    background: #f18b1a;
    filter: blur(70px);
  }
}
