.root {
	max-width: 1000px;
	.row {
		display: flex;
		> * {
			margin: 10px;
		}
	}
}

.fullheight {
	height: calc(100vh - 60px);
}

.buttons {
	display: flex;
	align-items: center;
	justify-content: center;
}
