.root {
	font-family: 'Roboto';
	font-weight: 600;
	max-width: 1000px;
	min-height: 1080px;

	.center {
		margin: 0 auto;
		width: fit-content;
	}

	.item {
		display: flex;
		.left {
			min-width: 60px;
			width: 60px;
			text-align: end;
		}
		.right {
			padding-bottom: 16px;
		}
		.divider {
			$offset: 21px;
			$linewidth: 2px;

			margin: 0 30px 0 30px;
			width: $linewidth;
			background-color: #cdcdcd;
			&:before {
				$size: 14px;
				$border: 0px;
				$realsize: $size + $border * 2;

				content: '';
				display: block;
				position: absolute;

				width: $size;
				height: $size;
				margin-top: calc($offset - $realsize / 2); //$offset + $size/2;
				margin-left: calc(
					$linewidth / 2 - ($realsize / 2)
				); //($linewidth - ($size/2));
				background-color: #f8b249;
				border-radius: $size;
				border: $border solid #f8b249;

				opacity: 0.25;
				z-index: 0;
			}
			&:after {
				$size: 4px;
				$border: 2px;
				$realsize: $size + $border * 2;

				content: '';
				display: block;
				position: absolute;
				width: $size;
				height: $size;
				margin-top: calc($offset - $realsize / 2); //$offset + $size/2;
				margin-left: calc($linewidth / 2 - ($realsize / 2));
				//($linewidth - ($size/2));
				background-color: #fff;
				border-radius: $size;
				border: $border solid #f8b249;
				z-index: 1;
			}
		}
	}
}
