/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css);

* {
	font-family: 'Spoqa Han Sans Neo', 'Spoqa Han Sans JP', sans-serif;
}

.root {
	> * {
		margin: 0 auto;
		//background: green;
	}
}

.heroBanner {
	padding: 4rem 0;
	text-align: center;
	position: relative;
	overflow: hidden;
}

@media screen and (max-width: 966px) {
	.heroBanner {
		padding: 2rem;
	}
}
