.URL{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  #option{
    margin-top: 50px;
    width: 200px;
    text-align: left;
    #setting{

    }
    #result{
      margin-top: 40px;
      
    }
  }

}